<mat-toolbar color="primary" class="example-toolbar submenu">
    <span class="example-spacer"></span>
    <div class="example-button-row">
        <span>
            <button *ngIf="!existeRespuesta" mat-raised-button color="primary" type="submit" [disabled]="frmGrupo.invalid" form="ngForm">
                <mat-icon>save as</mat-icon>
                <span>Enviar</span>
            </button> 
        </span>       
    </div>
</mat-toolbar>

<div class="containerencuesta">
    <mat-card class="cardborde">
        <mat-toolbar class="toolbarencuesta">
            
          </mat-toolbar>
          <form id="ngForm" [formGroup]="form" #frmGrupo="ngForm" (ngSubmit)="enviar()">
              
            <h1 class="titleencuesta">{{cTitulo}}</h1>
            <h2 class="subtitleencuesta">{{cDescripcion}}</h2>
            
            <ul>
                <li *ngFor="let item of listaEncuestaPregunta" value={{item.nIdPregunta}}; let i = index>
                    <app-pregdinamica [curPregunta]="item" [edicion]="false"></app-pregdinamica>
                </li>
            </ul>           

        </form>
    </mat-card>    
</div>

