<mat-toolbar color="primary" class="example-toolbar submenu">
    <span class="example-spacer"></span>
    <div class="example-button-row">
        <span>
            <button *ngIf="vistaCli == 1" mat-raised-button color="warn" routerLink="/page/inicio">
                <mat-icon>undo</mat-icon>
                <span>Regresar</span>
            </button>
            <button *ngIf="vistaCli == 0" mat-raised-button color="warn" (click)="btnUndo()">
                <mat-icon>undo</mat-icon>
                <span>Regresar</span>
            </button>
            <button *ngIf="!existeRespuesta" mat-raised-button color="primary" type="submit" [disabled]="frmGrupo.invalid" form="ngForm">
                <mat-icon>save as</mat-icon>
                <span>Enviar</span>
            </button>            
            <button *ngIf="existeRespuesta" mat-button color="primary" [disabled]="true">
                Fecha de registro: {{fechaRegistro}}
            </button> 
        </span>       
    </div>
</mat-toolbar>

<div class="containerencuesta">
    <mat-card class="cardborde">
        <mat-toolbar class="toolbarencuesta">
            
          </mat-toolbar>
          <form id="ngForm" [formGroup]="form" #frmGrupo="ngForm" (ngSubmit)="enviar()">

            <h3 class="headerencuesta">Cliente: {{clientUsu}}</h3>
            <h3 class="headerencuesta">Nombre: {{nomUsu}}</h3>
            
            <h1 class="titleencuesta">
                {{cTitulo}}
                <!-- <img src="../../../../assets/logo.png" > -->
            </h1>
            <h2 class="subtitleencuesta">{{cDescripcion}}</h2>
            
            <ul>
                <li *ngFor="let item of listaEncuestaPregunta" value={{item.nIdPregunta}}; let i = index>
                    <app-pregdinamica [curPregunta]="item" [edicion]="false" [bloqueado]="existeRespuesta"></app-pregdinamica>
                </li>
            </ul>           

        </form>
    </mat-card>    
</div>

