.titleencuesta{
    color: #003f94;
    text-align: center;
    font-weight: 600;
}

.subtitleencuesta{
    color: #003f94;
    font-weight: 450;
}
.toolbarencuesta{
    background:linear-gradient( 180deg,#1367ff,#045ed8); 
    color:#fff;
    height:5px;
    font-size:17px;
}
.containerencuesta{
    margin-right:12em;
    margin-left:12em;
    margin-top:136px;
}