<mat-toolbar color="primary" class="example-toolbar submenu">
    <span class="example-spacer"></span>
    <div class="example-button-row">
        <span>
            <button mat-raised-button color="primary" type="submit" [disabled]="frmGrupo.invalid" form="ngForm">
                <mat-icon>save as</mat-icon>
                <span>Guardar</span>
            </button> 
        </span>       
    </div>
</mat-toolbar>

<div class="container">
    <mat-card class="cardborde">
        <mat-toolbar class="cardtitle">
            <mat-icon>home</mat-icon>
            ENCUESTA
          </mat-toolbar>
          <form id="ngForm" [formGroup]="form" #frmGrupo="ngForm" (ngSubmit)="guardar()">

            <div [hidden]="true">
                <mat-form-field appearance="outline">
                     <input matInput placeholder="Id" formControlName="nIdEncuesta">
                </mat-form-field>
            </div>
        
            <mat-form-field appearance="outline">
                <mat-label>Titulo</mat-label>
                <input matInput placeholder="Titulo" formControlName="cTitulo" autocomplete="off">
            </mat-form-field>  

            <mat-form-field appearance="outline">
                <mat-label>Titulo</mat-label>
                <input matInput placeholder="Titulo" formControlName="cDescripcion" autocomplete="off">
            </mat-form-field>  
            
            <ul>
                <li *ngFor="let item of listaEncuestaPregunta" value={{item.nIdPregunta}}>
                    <app-pregdinamica [curPregunta]="item"></app-pregdinamica>
                </li>
            </ul>           

        </form>
    </mat-card>    
</div>

