<mat-toolbar color="primary" class="example-toolbar submenu">
    <span class="example-spacer"></span>
    <div class="example-button-row">
      <button mat-raised-button color="primary" routerLink="/page/encuesta/create">
        <mat-icon>add</mat-icon>
        <span>Nuevo</span>
      </button>       
    </div>
  </mat-toolbar>

<div class="container">  
  <mat-card class="cardborde">   
    <mat-toolbar class="cardtitle">
      <mat-icon>home</mat-icon>
      LISTA ENCUESTA
    </mat-toolbar>
    <form>

      <mat-grid-list cols="3" rowHeight="90px" gutterSize="15px">

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Búsqueda</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Búsqueda" #input>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Fecha Inicio</mat-label>
            <input matInput [matDatepicker]="fechaInicio" placeholder="dd/mm/yyyy" [max]="fechaInicio" 
            [(ngModel)]="fechaSelectInicio"  (dateChange)="onDateChange()">
            <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
            <mat-datepicker #fechaInicio></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Fecha Fin</mat-label>
            <input matInput [matDatepicker]="fechaFin" placeholder="dd/mm/yyyy" [max]="fechaFin" 
            [(ngModel)]="fechaSelectFin" (dateChange)="onDateChange()">
            <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
            <mat-datepicker #fechaFin></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>
      
      <div class="example-loading-shade" *ngIf="loading || existRegistro">
        <mat-spinner *ngIf="loading"></mat-spinner>
        <div class="example-rate-limit-reached" *ngIf="existRegistro">
          No se encontraron registros.
        </div>
      </div>

      <div class="example-container mat-elevation-z0">
        <mat-table [dataSource]="dataSource" matSort>
      
          <ng-container matColumnDef="nIdEncuesta">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Código"> {{element.nIdEncuesta}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="cSistemas">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Sistema </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Sistema"> {{element.cSistemas}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="cTitulo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Titulo"> {{element.cTitulo}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="cDescripcion">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Descripción"> {{element.cDescripcion}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="dFechaIni">
            <mat-header-cell *matHeaderCellDef mat-sort-header> F.Inicio </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="F.Inicio"> {{element.sFechaIni}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="dFechaFin">
            <mat-header-cell *matHeaderCellDef mat-sort-header> F.Fin </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="F.Fin"> {{element.sFechaFin}} </mat-cell>
          </ng-container>
              
          <ng-container matColumnDef="nAccion">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element" style="text-align: right;">
                  <a class="pointer ver" matTooltip="Ver" [routerLink]="['ver', element.nIdEncuesta, true]">
                    <mat-icon>visibility</mat-icon>
                 </a>
                 <a class="pointer edit" matTooltip="Editar" [routerLink]="['edit', element.nIdEncuesta]">
                   <mat-icon>edit</mat-icon>
                </a>
              </mat-cell>
            </ng-container>
          
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
         
        </mat-table>
        <mat-paginator 
          [length]="countRegistro" 
          [pageSizeOptions]="[5, 10, 20]" 
          showFirstLastButtons 
          aria-label="Select page of users">
        </mat-paginator>
      </div>

    </form>    
  </mat-card>
</div>

  

