<mat-toolbar color="primary" class="example-toolbar submenu">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon class="titleicon">home</mat-icon>
    </button>
    <span class="titleform">CREAR GRUPO</span>
    <span class="example-spacer"></span>
    <div class="example-button-row">
        <button mat-raised-button color="warn" routerLink="/grupo">
            <mat-icon>undo</mat-icon>
            <span>Regresar</span>
        </button>
        <button mat-raised-button color="primary" type="submit" [disabled]="frmGrupo.invalid" form="ngForm">
            <mat-icon>save as</mat-icon>
            <span>Guardar</span>
        </button>        
    </div>
</mat-toolbar>

<div class="container">
    <mat-card class="cardborde">
        <form id="ngForm" [formGroup]="form" #frmGrupo="ngForm" (ngSubmit)="guardar()">
            <mat-form-field appearance="outline">
                <mat-label>Código</mat-label>
                <input matInput placeholder="Codigo" formControlName="nIdGrupo">
            </mat-form-field>
        
            <mat-form-field appearance="outline">
                <mat-label>Descripción</mat-label>
                <input matInput placeholder="Descripción" required formControlName="cDescripcion" autocomplete="off">
            </mat-form-field>            
        </form>
    </mat-card>    
</div>



