<div [ngSwitch]="curPregunta.nTipo">
    <mat-label>Modelo de pregunta</mat-label>

    <div *ngSwitchCase="1"> <!-- Casillas -->
        <mat-list-item *ngFor="let el of listaOpciones; let i = index">
            <mat-checkbox>
              {{el}}
            </mat-checkbox>
        </mat-list-item>
    </div>

    <div *ngSwitchCase="2"> <!-- Escala lineal -->
            <mat-radio-group class="escala-lineal">
                <mat-label>Mínimo</mat-label>
                <mat-list-item *ngFor="let el of listaOpciones; let i = index">                    
                    <mat-radio-button [value]="i" (change)="answer = $event.value">
                        {{el}}                    
                    </mat-radio-button>                    
                </mat-list-item>
                <mat-label>Máximo</mat-label>
            </mat-radio-group>            
    </div>

    <div *ngSwitchCase="3"> <!-- Respuesta corta -->
            <mat-label>Enunciado de la pregunta</mat-label>
            <textarea matInput placeholder="Escriba sus respuesta"></textarea>
    </div>

    <div *ngSwitchCase="4"> <!-- Sí/No -->
            <mat-radio-group class="varias-opciones">
                <mat-radio-button value="1">Sí</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
            </mat-radio-group>     
    </div>

    <div *ngSwitchCase="5"> <!-- Varias opciones -->
            <mat-radio-group class="varias-opciones">
                <mat-list-item *ngFor="let el of listaOpciones; let i = index">
                    <mat-radio-button [value]="i" (change)="answer = $event.value">
                        {{el}}
                    </mat-radio-button>
                </mat-list-item>
            </mat-radio-group>         
    </div>

    <div *ngSwitchDefault>
        Selecciona un tipo para cargar plantilla.
    </div>
</div>