.varias-opciones {
    display: flex; flex-direction: column;
    /* display: inline-grid; */ 
    /* display: grid; */
    margin: 15px 0;
}

.escala-lineal {
    display: flex; flex-direction: row;
    /* display: inline-grid; */ 
    /* display: grid; */
    margin: 15px 0;
}

.escala-lineal::ng-deep.mat-radio-label{
    flex-direction: column-reverse;
}

.mat-radio-button{
    margin-left:6px;
    padding-top:3px;
}