.varias-opciones {
    display: flex; flex-direction: column;
    /* display: inline-grid; */ 
    /* display: grid; */
    margin: 15px 0;
}

.escala-lineal {
    display: flex; flex-direction: row;
    /* display: inline-grid; */ 
    /* display: grid; */
    margin: 15px 0;
}

.escala-lineal::ng-deep.mat-radio-label{
    flex-direction: column-reverse;
    font-size: 2.2vh;
}

.escala-lineal::ng-deep.mat-radio-label-content{
    padding-left: 0;
}

.mat-radio-button{
    margin-left:6px;
    padding-top:3px;
}

.label-escala{
    margin-block: auto;
    margin: 8px;
    font-size: 2.2vh;
}

.label-responsive{
    font-size: 2.2vh;
}

.option-responsive::ng-deep.mat-radio-label{
    font-size: 2.2vh;
}

.option-responsive::ng-deep.mat-checkbox-label{
    font-size: 2.2vh;
}

.input-responsive::ng-deep.mat-form-field-label{
    margin: 5px;
    font-size: 2.2vh;
}