<div [ngSwitch]="curPregunta.nTipo">

    <mat-label>{{curPregunta.nOrden}}. {{curPregunta.cDescripcion}}</mat-label>

    <div *ngSwitchCase="1"> <!-- Casillas -->
        <mat-list-item *ngFor="let el of options; let i = index">
            <mat-checkbox [value]="i.toString()" [(ngModel)]="optionsCheckbox[i]">
              {{el}}
            </mat-checkbox>
        </mat-list-item>
        <div *ngIf="curPregunta.nRqObservacion" >
            <mat-checkbox [value]="options.length.toString()" [(ngModel)]="optionsCheckbox[options.length]">
                Otro
            </mat-checkbox>
            <mat-form-field>
                <input matInput placeholder="Indique su opción" [(ngModel)]="inputText">
            </mat-form-field>
        </div>
    </div>

    <div *ngSwitchCase="2"> <!-- Escala lineal -->
        <mat-radio-group class="escala-lineal" [(ngModel)]="answerSelected">
            <mat-label>{{minScale}}</mat-label>
            <mat-list-item *ngFor="let el of scaleNumbers; let i = index">                    
                <mat-radio-button [value]="i" (change)="updateAnswer($event.value)">
                    {{el}}                    
                </mat-radio-button>                    
            </mat-list-item>
            <mat-label>{{maxScale}}</mat-label>
        </mat-radio-group>            
    </div>

    <div *ngSwitchCase="3"> <!-- Respuesta corta -->
        <textarea matInput placeholder="Escriba su respuesta" [(ngModel)]="inputText"></textarea>
    </div>

    <div *ngSwitchCase="4"> <!-- Sí/No -->
        <mat-radio-group class="varias-opciones" [(ngModel)]="answerSelected">
            <mat-radio-button [value]="0" (change)="updateAnswer($event.value)">Sí</mat-radio-button>
            <mat-radio-button [value]="1" (change)="updateAnswer($event.value)">No</mat-radio-button>
            <div *ngIf="curPregunta.nRqObservacion" >
                <mat-radio-button [value]="2" (change)="updateAnswer($event.value)">
                    Otro
                </mat-radio-button>
                <mat-form-field>
                    <input matInput placeholder="Indique su opción" [(ngModel)]="inputText">
                </mat-form-field>
            </div>
        </mat-radio-group>     
    </div>

    <div *ngSwitchCase="5"> <!-- Varias opciones -->
        <mat-radio-group class="varias-opciones" [(ngModel)]="answerSelected">
            <mat-list-item *ngFor="let el of options; let i = index">
                <mat-radio-button [value]="i" (change)="updateAnswer($event.value)">
                    {{el}}
                </mat-radio-button>
            </mat-list-item>
            <div *ngIf="curPregunta.nRqObservacion" >
                <mat-radio-button [value]="options.length" (change)="updateAnswer($event.value)">
                    Otro
                </mat-radio-button>
                <mat-form-field>
                    <input matInput placeholder="Indique su opción" [(ngModel)]="inputText">
                </mat-form-field>
            </div>
        </mat-radio-group>         
    </div>

    <div *ngSwitchDefault>
        Selecciona un tipo para cargar plantilla.
    </div>

    <mat-divider></mat-divider>
</div>