<h2 mat-dialog-title>ENCUESTA</h2>

<mat-dialog-content class="mat-typography">

  <div class="example-loading-shade" *ngIf="loading || existRegistro">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="existRegistro">
      No se encontraron registros.
    </div>
  </div>

  <div class="example-container mat-elevation-z0">
    <mat-table [dataSource]="dataSource" matSort>
    
      <ng-container matColumnDef="cSistemas">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Sistema </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Sistema"> {{element.cSistemas}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cTitulo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Titulo"> {{element.cTitulo}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dFechaIni">
        <mat-header-cell *matHeaderCellDef mat-sort-header> F.Inicio </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="F.Inicio"> {{element.sFechaIni}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dFechaFin">
        <mat-header-cell *matHeaderCellDef mat-sort-header> F.Fin </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="F.Fin"> {{element.sFechaFin}} </mat-cell>
      </ng-container>
         
      <ng-container matColumnDef="nAccion">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element" style="text-align: right;">
             <a class="pointer ver" matTooltip="Ver" (click)="verVistaCliente(element.nIdEncuesta)">
              <mat-icon>visibility</mat-icon>
           </a>
          </mat-cell>
        </ng-container>
      
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
     
    </mat-table>
    <mat-paginator 
      [length]="countRegistro" 
      [pageSizeOptions]="[5, 10, 20]" 
      showFirstLastButtons 
      aria-label="Select page of users" style="display: none;">
    </mat-paginator>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>


  


