<app-spinner></app-spinner>

<div class="example-container" style="height: 100vh;"> 
    <mat-toolbar color="primary">
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
  
      <a mat-button class="companyName" routerLink="/">
        <span>Sistemas Analiticos</span>
      </a>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a mat-button routerLink="/page/grupo">Grupo</a>
        <a mat-button routerLink="/page/pregunta">Pregunta</a>
        <a mat-button routerLink="/page/encuesta">Encuesta</a>
        <a mat-button routerLink="/page/sistema">Sistema</a>
        <a mat-button routerLink="/page/cliente">Cliente</a>
        <a mat-button routerLink="/page/clientesistema">Cli.Sist.</a>
      </div>
  
    </mat-toolbar>
    <mat-sidenav-container fxFlexFill class="example-container">
  
      <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
        <div fxLayout="column">
            <a mat-button routerLink="/page/grupo">Grupo</a>
            <a mat-button routerLink="/page/pregunta">Pregunta</a>
            <a mat-button routerLink="/page/encuesta">Encuesta</a>
            <a mat-button routerLink="/page/sistema">Sistema</a>
            <a mat-button routerLink="/page/cliente">Cliente</a>
            <a mat-button routerLink="/page/clientesistema">Cli. Sist.</a>
        </div>
      </mat-sidenav>

      <mat-sidenav-content fxFlexFill>
        <router-outlet></router-outlet>
     </mat-sidenav-content>

    </mat-sidenav-container>
</div>



<!-- 
<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar" >
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>

        <h1 class="example-app-name">SISTEMAS ENCUESTA</h1>

        <img class="example-app-name" src="assets/descarga.png" width="128" style="margin-left: 20px">

        <span class="example-spacer"></span>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="closeLogin()" >
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar Sesión</span>
            </button>
        </mat-menu>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #sidenav style="width: 200px" mode="over">
            <img src="assets/logo.jpg" width="128" style="margin-left: 20px">
            
            
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/page/buscar" style="cursor: pointer">
                <mat-icon>search</mat-icon>
                <span>Buscar</span>
            </button>
            <mat-divider></mat-divider>


            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/page/grupo" style="cursor: pointer">
                <mat-icon>star_rate</mat-icon>
                <span>Grupo</span>
            </button>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/page/pregunta" style="cursor: pointer">
                <mat-icon>healing</mat-icon>
                <span>Pregunta</span>
            </button>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/page/encuesta" style="cursor: pointer">
                <mat-icon>accessibility</mat-icon>
                <span>Encuesta</span>
            </button>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/page/sistema" style="cursor: pointer">
                <mat-icon>insert_drive_file</mat-icon>
                <span>Sistema</span>
            </button>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/page/cliente" style="cursor: pointer">
                <mat-icon>insert_drive_file</mat-icon>
                <span>Cliente</span>
            </button>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/page/clientesistema" style="cursor: pointer">
                <mat-icon>insert_drive_file</mat-icon>
                <span>Cliente Sistema</span>
            </button>   
           
        </mat-sidenav>

        <mat-sidenav-content>
           <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div> -->
