<mat-toolbar color="primary" class="example-toolbar submenu">
    <span class="example-spacer"></span>
    <div class="example-button-row">
        <button mat-raised-button color="warn" routerLink="/page/encuesta">
            <mat-icon>undo</mat-icon>
            <span>Regresar</span>
        </button>
        <span *ngIf="!ver">
            <button mat-raised-button color="primary" type="submit" [disabled]="frmGrupo.invalid" form="ngForm">
                <mat-icon>save as</mat-icon>
                <span>Guardar</span>
            </button> 
        </span>       
    </div>
</mat-toolbar>

<div class="container">
    <mat-card class="cardborde">
        <mat-toolbar class="cardtitle">
            <mat-icon>home</mat-icon>
            CREAR ENCUESTA
          </mat-toolbar>
        <form id="ngForm" [formGroup]="form" #frmGrupo="ngForm" (ngSubmit)="guardar()">
            <mat-stepper labelPosition="bottom" #stepper>

                <mat-step>
                    <ng-template matStepLabel>Encuesta</ng-template>

                    <div [hidden]="true">
                        <mat-form-field appearance="outline">
                             <input matInput placeholder="Id" formControlName="nIdEncuesta">
                        </mat-form-field>
                    </div> 
                    <mat-form-field appearance="outline">
                        <mat-label>Código</mat-label>
                        <input matInput placeholder="Codigo" formControlName="nCodigo">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Título</mat-label>
                        <input matInput placeholder="Título" minlength="1" maxlength="50" required formControlName="cTitulo" autocomplete="off">
                    </mat-form-field>  
                    <mat-form-field appearance="outline">
                        <mat-label>Descripción</mat-label>
                        <input matInput placeholder="Descripción" minlength="1" maxlength="500" required formControlName="cDescripcion" autocomplete="off">
                    </mat-form-field> 

                   <mat-divider></mat-divider>

                    <mat-grid-list style="margin-top: 11px;" cols="2" rowHeight="360px">
                        
                        <mat-grid-tile>
                            <div class="mat-elevation-z0">
                                <table mat-table [dataSource]="listaPregunta" matSort>
                                                              
                                  <ng-container matColumnDef="cDescripcion">
                                    <th style="background: linear-gradient( 180deg,#a9bfe6,#e4ecf6);color: #09388e;" mat-header-cell *matHeaderCellDef mat-sort-header> PREGUNTAS </th>
                                    <td mat-cell *matCellDef="let element"> {{element.cDescripcion}} </td>
                                  </ng-container>                        
                                      
                                  <ng-container matColumnDef="nAccion" >
                                      <th style="background: linear-gradient( 180deg,#a9bfe6,#e4ecf6);" mat-header-cell *matHeaderCellDef></th>
                                      <td mat-cell *matCellDef="let element" style="text-align: right;">                                       
                                        <mat-checkbox [checked]="element.bMarcado" class="example-margin" (change)="checkPregunta(element, $event)"></mat-checkbox>
                                      </td>
                                    </ng-container>
                                  
                                  <tr mat-header-row *matHeaderRowDef="displayedColumnsP"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumnsP;"></tr>
                                 
                                </table>
                              </div>    
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="mat-elevation-z0">                                
                                <ul>
                                    <li *ngFor="let item of listaEncuestaPregunta" value={{item.nIdPregunta}}>
                                      {{item.cDescripcion}}
                                    </li>
                                  </ul>
                              </div>                        
                        </mat-grid-tile>

                    </mat-grid-list>
                       
                </mat-step>
                
                <mat-step>
                  
                  <mat-tab-group mat-align-tabs="center">
                    <mat-tab label="Individual">
                      <ng-template matStepLabel>Respuesta</ng-template>  

                      <div class="mat-elevation-z0">
                        <table style="width: 100%;" mat-table [dataSource]="listaRespuesta" matSort>
                      
                          <ng-container matColumnDef="nIdRespuesta">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </th>
                            <td mat-cell *matCellDef="let element"> {{element.nIdRespuesta}} </td>
                          </ng-container>
                
                          <ng-container matColumnDef="cDescripcion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
                            <td mat-cell *matCellDef="let element"> {{element.cDescripcion}} </td>
                          </ng-container>
                                      
                          <ng-container matColumnDef="cRuc">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ruc </th>
                            <td mat-cell *matCellDef="let element"> {{element.cRuc}} </td>
                          </ng-container>

                          <ng-container matColumnDef="dFecha">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> F.Registro </th>
                            <td mat-cell *matCellDef="let element"> {{element.sFecha}} </td>
                          </ng-container>
                          
                          <ng-container matColumnDef="cUsuario">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
                            <td mat-cell *matCellDef="let element"> {{element.cUsuario}} </td>
                          </ng-container>
                              
                          <ng-container matColumnDef="nAccion">
                              <th mat-header-cell *matHeaderCellDef></th>
                              <td mat-cell *matCellDef="let element" style="text-align: right;">
                                  <a class="pointer ver" matTooltip="Ver" (click)="verVistaCliente(element.nIdCliente)">
                                    <mat-icon>visibility</mat-icon>
                                 </a>
                              </td>
                           </ng-container>
                          
                          <tr mat-header-row *matHeaderRowDef="displayedColumnsR"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumnsR;"></tr>
                         
                        </table>
                        <mat-paginator 
                          [length]="countRegistro" 
                          [pageSizeOptions]="[5, 10, 20]" 
                          showFirstLastButtons 
                          aria-label="Select page of users">
                        </mat-paginator>
                      </div>
                    </mat-tab>
                    <mat-tab label="Resumen">
                      En Proceso 1
                    </mat-tab>
                    <mat-tab label="Otros">En Proceso 2</mat-tab>
                  </mat-tab-group>
                  
                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>Configuración</ng-template>

                    <mat-form-field appearance="outline">
                        <mat-select placeholder="Seleccione Sistema" formControlName="nIdSistemas" (selectionChange)="listarclienteporsistema($event.value)">
                          <mat-option *ngFor="let c of listaSistema" [value]="c.nIdSistemas">
                           {{c.cSistemas}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-select 
                        multiple
                        placeholder="Seleccione Cliente" 
                        [(ngModel)]="listaIdCliente"
                        formControlName="nIdCliente">
                          <mat-option *ngFor="let c of listaCliente" [value]="c.nIdCliente">
                           {{c.cRuc}} {{c.cDescripcion}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Fecha Inicio</mat-label>
                        <input matInput [matDatepicker]="dFechaIni" placeholder="dd/mm/yyyy" formControlName="dFechaIni" required>
                        <mat-datepicker-toggle matSuffix [for]="dFechaIni"></mat-datepicker-toggle>
                        <mat-datepicker #dFechaIni></mat-datepicker>
                    </mat-form-field>
              
                    <mat-form-field appearance="outline">
                        <mat-label>Fecha Fin</mat-label>
                        <input matInput [matDatepicker]="dFechaFin" placeholder="dd/mm/yyyy" formControlName="dFechaFin" required>
                        <mat-datepicker-toggle matSuffix [for]="dFechaFin"></mat-datepicker-toggle>
                        <mat-datepicker #dFechaFin></mat-datepicker>
                    </mat-form-field>

                </mat-step>

            </mat-stepper>                      
        </form>
    </mat-card>   
     
</div>
