<mat-toolbar color="primary" class="example-toolbar submenu">
    <span class="example-spacer"></span>
    <div class="example-button-row">
        <button mat-raised-button color="warn" routerLink="/page/encuesta">
            <mat-icon>undo</mat-icon>
            <span>Regresar</span>
        </button>
        <span *ngIf="!ver">
            <button mat-raised-button color="primary" type="submit" [disabled]="frmGrupo.invalid" form="ngForm">
                <mat-icon>save as</mat-icon>
                <span>Guardar</span>
            </button> 
        </span>       
    </div>
</mat-toolbar>

<div class="container">
    <mat-card class="cardborde">
        <mat-toolbar class="cardtitle">
            <mat-icon>home</mat-icon>
            CREAR ENCUESTA
          </mat-toolbar>
        <form id="ngForm" [formGroup]="form" #frmGrupo="ngForm" (ngSubmit)="guardar()">

            <mat-stepper labelPosition="bottom" #stepper>
              
                <mat-step>
                    <ng-template matStepLabel>Encuesta</ng-template>

                    <div [hidden]="true">
                        <mat-form-field appearance="outline">
                             <input matInput placeholder="Id" formControlName="nIdEncuesta">
                        </mat-form-field>
                    </div> 
                    <mat-form-field appearance="outline">
                        <mat-label>Código</mat-label>
                        <input matInput placeholder="Codigo" formControlName="nCodigo">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Título</mat-label>
                        <input matInput placeholder="Título" minlength="1" maxlength="50" required formControlName="cTitulo" autocomplete="off">
                    </mat-form-field>  
                    <mat-form-field appearance="outline">
                        <mat-label>Descripción</mat-label>
                        <input matInput placeholder="Descripción" minlength="1" maxlength="500" required formControlName="cDescripcion" autocomplete="off">
                    </mat-form-field> 

                   <mat-divider></mat-divider>

                      <div class="example-container mat-elevation-z0">
                          <mat-table [dataSource]="listaPregunta" matSort>
                                                        
                            <ng-container matColumnDef="cDescripcion">
                              <mat-header-cell *matHeaderCellDef mat-sort-header style="background: linear-gradient( 180deg,#a9bfe6,#e4ecf6);color: #09388e;"> PREGUNTAS </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.cDescripcion}} </mat-cell>
                            </ng-container>                        
                                
                            <ng-container matColumnDef="nAccion" >
                                <mat-header-cell *matHeaderCellDef style="background: linear-gradient( 180deg,#a9bfe6,#e4ecf6);"></mat-header-cell>
                                <mat-cell *matCellDef="let element" style="text-align: right;">                                       
                                  <mat-checkbox [checked]="element.bMarcado" class="example-margin" (change)="checkPregunta(element, $event)"></mat-checkbox>
                                </mat-cell>
                              </ng-container>
                            
                            <mat-header-row *matHeaderRowDef="displayedColumnsP"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumnsP;"></mat-row>
                            
                          </mat-table>
                        </div>    
                      <div class="mat-elevation-z0">                                
                        <ul>
                          <li *ngFor="let item of listaEncuestaPregunta" value={{item.nIdPregunta}}; let i = index>
                              <app-pregdinamica [curPregunta]="item" [edicion]="false" [bloqueado]="false"></app-pregdinamica>
                          </li>
                        </ul>     
                      </div>
                       
                </mat-step>
                
                <mat-step *ngIf="ver">                  
                  <mat-tab-group mat-align-tabs="center">

                      <mat-tab label="Individual">
                        <ng-template matStepLabel>Respuesta</ng-template>
                        
                        <mat-label *ngIf="listaRespuesta.length === 0">No se registraron respuestas</mat-label>

                        <div class="example-container mat-elevation-z0">
                          <mat-table style="width: 100%;" [dataSource]="listaRespuesta" matSort>
                        
                            <ng-container matColumnDef="nIdRespuesta">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
                              <mat-cell *matCellDef="let element" data-label="Código"> {{element.nIdRespuesta}} </mat-cell>
                            </ng-container>
                  
                            <ng-container matColumnDef="cDescripcion">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </mat-header-cell>
                              <mat-cell *matCellDef="let element" data-label="Descripción"> {{element.cDescripcion}} </mat-cell>
                            </ng-container>
                                        
                            <ng-container matColumnDef="cRuc">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Ruc </mat-header-cell>
                              <mat-cell *matCellDef="let element" data-label="Ruc"> {{element.cRuc}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="dFecha">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> F.Registro </mat-header-cell>
                              <mat-cell *matCellDef="let element" data-label="F.Registro"> {{element.sFecha}} </mat-cell>
                            </ng-container>
                            
                            <ng-container matColumnDef="cUsuario">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </mat-header-cell>
                              <mat-cell *matCellDef="let element" data-label="Usuario"> {{element.cUsuario}} </mat-cell>
                            </ng-container>
                                
                            <ng-container matColumnDef="nAccion">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let element" style="text-align: right;">
                                    <a class="pointer ver" matTooltip="Ver" (click)="verVistaCliente(element.nIdCliente, element.cUsuario,element.cDescripcion)">
                                      <mat-icon>visibility</mat-icon>
                                  </a>
                                </mat-cell>
                            </ng-container>
                            
                            <mat-header-row *matHeaderRowDef="displayedColumnsR"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumnsR;"></mat-row>
                          
                          </mat-table>
                          <mat-paginator 
                            [length]="countRegistro" 
                            [pageSizeOptions]="[5, 10, 20]" 
                            showFirstLastButtons 
                            aria-label="Select page of users">
                          </mat-paginator>
                        </div>
                      </mat-tab>

                      <mat-tab label="Resumen" *ngIf="listaRespuesta.length > 0">

                        <mat-list-item *ngFor="let el of listaRespuestasResumen; let i = index">
                          <ul>
                          <mat-label style="margin-top: 20px;">
                            {{el.pregunta?.nOrden}}. {{el.pregunta?.cDescripcion}}
                          </mat-label>
                          <div *ngIf="el.muestraOpt" class="mat-elevation-z0">

                            <div id="contenedor">
                              <div>
                                <mat-table [dataSource]="el.frecuencias!" matSort>
                                                            
                                  <ng-container matColumnDef="opcion">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header style="background: linear-gradient( 180deg,#a9bfe6,#e4ecf6);color: #09388e;"> Opción </mat-header-cell>
                                    <mat-cell *matCellDef="let element" data-label="Opción"> {{element.opcion}} </mat-cell>
                                  </ng-container>                        
                                      
                                  <ng-container matColumnDef="frecuenciaAbs" >
                                    <mat-header-cell *matHeaderCellDef mat-sort-header style="background: linear-gradient( 180deg,#a9bfe6,#e4ecf6);color: #09388e;"> Cantidad </mat-header-cell>
                                    <mat-cell *matCellDef="let element" data-label="Cantidad"> {{element.frecuenciaAbs}} </mat-cell>
                                  </ng-container>
  
                                  <ng-container matColumnDef="frecuenciaRel" >
                                    <mat-header-cell *matHeaderCellDef mat-sort-header style="background: linear-gradient( 180deg,#a9bfe6,#e4ecf6);color: #09388e;"> Porcentaje </mat-header-cell>
                                    <mat-cell *matCellDef="let element" data-label="Porcentaje"> {{(element.frecuenciaRel * 100).toFixed(2)}}% </mat-cell>
                                  </ng-container>
                                  
                                  <mat-header-row *matHeaderRowDef="displayedColumnsResuR"></mat-header-row>
                                  <mat-row *matRowDef="let row; columns: displayedColumnsResuR;"></mat-row>
                                  
                                </mat-table>
                              </div>
                              <div>
                                <app-chart [genReporte]="el.frecuencias"></app-chart>
                              </div>
                            </div>                              

                          </div>

                            <div *ngIf="el.muestraObs && el.observaciones?.length! > 0" class="mat-elevation-z0">
                              <mat-divider></mat-divider>
                              <mat-label>
                                {{el.tituloObs}} (Total: {{el.observaciones?.length}})
                              </mat-label>
                              <ul>
                                <li *ngFor="let item of el.observaciones; let i = index" value="i">
                                  {{item}}
                                </li>
                              </ul>
                            </div>

                            <div *ngIf="el.muestraEst" class="mat-elevation-z0">
                              <mat-divider></mat-divider>
                              <mat-label>
                                Promedio: {{el.promEst!.toFixed(2)}}
                              </mat-label>
                              <br>
                              <mat-label>
                                Mediana: {{el.medEst}}
                              </mat-label>
                            </div>
                          </ul>
                        </mat-list-item>

                      </mat-tab>                    
                      
                  </mat-tab-group>                   
                  

                </mat-step>

                <mat-step>
                    <ng-template matStepLabel>Configuración</ng-template>

                    <mat-form-field appearance="outline">
                        <mat-select placeholder="Seleccione Sistema" formControlName="nIdSistemas" (selectionChange)="listarclienteporsistema($event.value)">
                          <mat-option *ngFor="let c of listaSistema" [value]="c.nIdSistemas">
                           {{c.cSistemas}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-select 
                        multiple
                        placeholder="Seleccione Cliente" 
                        [(ngModel)]="listaIdCliente"
                        formControlName="nIdCliente">
                          <mat-option *ngFor="let c of listaCliente" [value]="c.nIdCliente">
                           {{c.cRuc}} {{c.cDescripcion}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Fecha Inicio</mat-label>
                        <input matInput [matDatepicker]="dFechaIni" placeholder="dd/mm/yyyy" formControlName="dFechaIni" required>
                        <mat-datepicker-toggle matSuffix [for]="dFechaIni"></mat-datepicker-toggle>
                        <mat-datepicker #dFechaIni></mat-datepicker>
                    </mat-form-field>
              
                    <mat-form-field appearance="outline">
                        <mat-label>Fecha Fin</mat-label>
                        <input matInput [matDatepicker]="dFechaFin" placeholder="dd/mm/yyyy" formControlName="dFechaFin" required>
                        <mat-datepicker-toggle matSuffix [for]="dFechaFin"></mat-datepicker-toggle>
                        <mat-datepicker #dFechaFin></mat-datepicker>
                    </mat-form-field>

                </mat-step>

            </mat-stepper>                      
        </form>
    </mat-card>   
     
</div>
