<mat-toolbar color="primary" class="example-toolbar submenu">
    <span class="example-spacer"></span>
    <div class="example-button-row">      
    </div>
  </mat-toolbar>

<div class="container">  
  <mat-card class="cardborde">   
    <mat-toolbar class="cardtitle">
      <mat-icon>home</mat-icon>
     REPORTE
    </mat-toolbar>
    <form id="ngForm" [formGroup]="form" #frmGrupo="ngForm" (ngSubmit)="guardar()">
      <div id="chart">
        <apx-chart
         [series]="chartOptions.series"
         [chart]="chartOptions.chart"
         [labels]="chartOptions.labels"
         [responsive]="chartOptions.responsive"
        ></apx-chart>
      </div>
    </form>
  </mat-card>
</div>
