/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* botones grilla */
.pointer{
  cursor: pointer;
}
.ver{
  color: #0d9aec;
  padding:5px;
}
.edit{
  color: #1f516f;
  padding:5px;
}
.delete{
  color: #da3f1e;
  padding:5px;
}

/* sub menu de los botones */
.mat-toolbar.mat-primary.submenu{
  position: fixed;
  z-index: 100;
  background:white;
  margin-top:40px;
  box-shadow:0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.mat-card.cardborde{
  padding: 0;
}

.mat-toolbar.cardtitle{
  background-color: #3f51b5 !important;
  color: white;
  height:36px;
  font-size:17px;
}


/* formulario */
.container{
  margin-right: 2em;
  margin-left: 2em;
  margin-top: 152px;
}

.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(74, 74, 74, 0.8);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-spacer {
  flex: 1 1 auto;
} 

form{
  margin: 10px;
  padding-top:23px;
}

.mat-form-field {
  width: 100%;
}


/* botones en la cabezera formulario */
.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}



/* loading page */
.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}















/* 
.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
} */