/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* botones grilla */
.pointer{
  cursor: pointer;
}
.ver{
  color: #0d9aec;
  padding:5px;
}
.edit{
  color: #1f516f;
  padding:5px;
}
.delete{
  color: #da3f1e;
  padding:5px;
}

/* sub menu de los botones */
.mat-toolbar.mat-primary.submenu{
  position: fixed;
  z-index: 100;
  background:white;
  margin-top:40px;
  /* box-shadow:0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%); */
  box-shadow: 0px 3px 10px 4px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.mat-card.cardborde{
  padding: 0;
}

.mat-toolbar.cardtitle{
  background: linear-gradient( 180deg,#1367ff,#045ed8);
  color: white;
  height:36px;
  font-size:17px;
}
/* formulario */
.container{
  margin-right: 2em;
  margin-left: 2em;
  margin-top: 136px;
}

.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(74, 74, 74, 0.8);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-spacer {
  flex: 1 1 auto;
} 

form{
  margin: 10px;
  padding-top:23px;
}

.mat-form-field {
  width: 100%;
}


/* botones en la cabezera formulario */
.example-button-row .mat-button-base {
  /* margin: 8px 8px 8px 0; */
  margin: 10px 36px -3px -25px;
}

/* loading page */
.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.mat-cell:last-of-type, .mat-header-cell:last-of-type, .mat-footer-cell:last-of-type{
  padding-right:2px;
}


.container2 {
  background-image: url("../src/assets/login2.jpeg");
  position: relative;
  width: 100%;
  height: 100%;        
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background-repeat:round;
}

@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle
  }

  .mat-table caption {
    font-size: 1em;
  }
  
  .mat-row, .mat-footer-row{
    min-height:39px;
  }
   /* Enable this to hide header */
  .mat-table .mat-header-cell {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
 
  .mat-table .mat-row {
    border-bottom: 4px solid #ddd;
    display: block;
  }
  
  /* .mat-table .mat-row:nth-child(even) {background: #CCC}
  .mat-table .mat-row:nth-child(odd) {background: #FFF} */
 
  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    /* font-size: 1em; */
    text-align: right;
    /* font-weight: bold; */
    height: 30px;
    /* margin-bottom: 4%;*/
  }
  .mat-table .mat-cell:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;    
    font-size: .85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
  .mat-table .mat-cell:first-child {
    margin-top: 1%;
  }
  .mat-cell:first-of-type, .mat-header-cell:first-of-type, .mat-footer-cell:first-of-type{
    padding-left:2px;
  }

  .mat-cell:last-of-type, .mat-header-cell:last-of-type, .mat-footer-cell:last-of-type{
    padding-right:2px;
  }
}
